 body{
    background-color: rgb(0, 0, 0);
    color: rgb(152, 104, 207);
 }

 header{

    background-color:rgb(204, 116, 189);
    padding: 40px;
 }

 .links{


 color: rgb(0, 0, 0);
 font-size: 30px;
 text-decoration: none;
 background-color: rgb(231, 96, 141);
 padding: 15px 25px;
 border-radius: 15px;


 }

 .titulo{
    color: palevioletred;
    text-align: center;
 }
